<h2 class="confirm">THANK YOU FOR YOUR ORDER</h2>

<p class="five">Name: <%=@order.pretty_name%></p>
<p class="six">Size requested: <%=@order.size%></p>
<p class="five">Number of pairs required: <%=@order.quantity%></p>